{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }] ,
      "react/forbid-prop-types": 0 ,
      "no-restricted-syntax": 0 ,
      "import/no-extraneous-dependencies": 0,
      "import/no-unresolved": 0,
      "import/extensions": 0,
      'jsx-a11y/no-static-element-interactions': 0,
      "react/prefer-stateless-function": 0,
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
